[submodule "Aur/mprime-bin"]
	path = Aur/mprime-bin
	url = https://aur.archlinux.org/mprime-bin.git
[submodule "Aur/noto-fonts-ar"]
	path = Aur/noto-fonts-ar
	url = https://aur.archlinux.org/noto-fonts-ar.git
[submodule "Aur/obs-pipewire-audio-capture-bin"]
	path = Aur/obs-pipewire-audio-capture-bin
	url = https://aur.archlinux.org/obs-pipewire-audio-capture-bin.git
[submodule "Aur/unigine-heaven"]
	path = Aur/unigine-heaven
	url = https://aur.archlinux.org/unigine-heaven.git
[submodule "Aur/unigine-superposition"]
	path = Aur/unigine-superposition
	url = https://aur.archlinux.org/unigine-superposition.git
[submodule "Aur/waydroid-helper"]
	path = Aur/waydroid-helper
	url = https://aur.archlinux.org/waydroid-helper.git
[submodule "Aur/gnome-shell-extension-alphabetical-grid-extension"]
	path = Aur/gnome-shell-extension-alphabetical-grid-extension
	url = https://aur.archlinux.org/gnome-shell-extension-alphabetical-grid-extension.git
[submodule "Aur/gnome-shell-extension-wallpaper-slideshow"]
	path = Aur/gnome-shell-extension-wallpaper-slideshow
	url = https://aur.archlinux.org/gnome-shell-extension-wallpaper-slideshow.git
[submodule "Aur/hy3"]
	path = Aur/hy3
	url = https://aur.archlinux.org/hy3.git
[submodule "Aur/grimshot-bin-sway"]
	path = Aur/grimshot-bin-sway
	url = https://aur.archlinux.org/grimshot-bin-sway.git
[submodule "Aur/libstrangle-git"]
	path = Aur/libstrangle-git
	url = https://aur.archlinux.org/libstrangle-git.git
[submodule "Aur/whitesur-cursor-theme-git"]
	path = Aur/whitesur-cursor-theme-git
	url = https://aur.archlinux.org/whitesur-cursor-theme-git.git
[submodule "Aur/amdgpu-pro-installer"]
	path = Aur/amdgpu-pro-installer
	url = https://aur.archlinux.org/amdgpu-pro-installer.git
[submodule "Aur/libretro-citra-git"]
	path = Aur/libretro-citra-git
	url = https://aur.archlinux.org/libretro-citra-git.git
[submodule "Aur/cubeb"]
	path = Aur/cubeb
	url = https://aur.archlinux.org/cubeb.git
[submodule "Aur/vulkan-memory-allocator"]
	path = Aur/vulkan-memory-allocator
	url = https://aur.archlinux.org/vulkan-memory-allocator.git
[submodule "Aur/sudachi-bin"]
	path = Aur/sudachi-bin
	url = https://aur.archlinux.org/sudachi-bin.git
[submodule "Aur/udev-joystick-blacklist-git"]
	path = Aur/udev-joystick-blacklist-git
	url = https://aur.archlinux.org/udev-joystick-blacklist-git.git
[submodule "Aur/wiiudownloader"]
	path = Aur/wiiudownloader
	url = https://aur.archlinux.org/wiiudownloader.git
[submodule "Aur/davinci-ffmpeg-encoder-plugin"]
	path = Aur/davinci-ffmpeg-encoder-plugin
	url = https://aur.archlinux.org/davinci-ffmpeg-encoder-plugin.git
[submodule "Aur/an-anime-game-launcher-bin"]
	path = Aur/an-anime-game-launcher-bin
	url = https://aur.archlinux.org/an-anime-game-launcher-bin.git
[submodule "Aur/cemu-bin"]
	path = Aur/cemu-bin
	url = https://aur.archlinux.org/cemu-bin.git
[submodule "Aur/ciso"]
	path = Aur/ciso
	url = https://aur.archlinux.org/ciso.git
[submodule "Aur/libnick"]
	path = Aur/libnick
	url = https://aur.archlinux.org/libnick.git
[submodule "Aur/parabolic"]
	path = Aur/parabolic
	url = https://aur.archlinux.org/parabolic.git
[submodule "Aur/unleashedrecomp-bin"]
	path = Aur/unleashedrecomp-bin
	url = https://aur.archlinux.org/unleashedrecomp-bin.git
[submodule "Aur/adwaita-colors-icon-theme"]
	path = Aur/adwaita-colors-icon-theme
	url = https://aur.archlinux.org/adwaita-colors-icon-theme.git
[submodule "Aur/gnome-shell-extension-legacy-theme-auto-switcher-git"]
	path = Aur/gnome-shell-extension-legacy-theme-auto-switcher-git
	url = https://aur.archlinux.org/gnome-shell-extension-legacy-theme-auto-switcher-git.git
